---
{{ ansible_managed | comment }}
{% if preferencesymlstat.stat.exists or verify.stat.exists %}
exclude_paths:
{% if preferencesymlstat.stat.exists %}
  - ./meta/preferences.yml
{% endif %}
  - ./molecule/default/prepare.yml
  - ./molecule/default/converge.yml
{% if verify.stat.exists %}
  - ./molecule/default/verify.yml
{% endif %}
{% endif %}
  - ./molecule/default/collections.yml
  - ./.tox
  - ./.cache
  - ./.github
  - ./requirements.yml

skip_list:
  - yaml[truthy]

enable_list:
  - name[prefix]
