---
{{ ansible_managed | comment }}

# Profiles gradually increase the strictness of rules as your Ansible content lifecycle.
# We set it to "production" in order to ensure that content meets requirements for inclusion in Ansible Automation Platform (AAP) as validated or certified content.
profile: production

{% if preferencesymlstat.stat.exists or verify.stat.exists %}
exclude_paths:
{% if preferencesymlstat.stat.exists %}
  - ./meta/preferences.yml
{% endif %}
  - ./molecule/default/prepare.yml
  - ./molecule/default/converge.yml
{% if verify.stat.exists %}
  - ./molecule/default/verify.yml
{% endif %}
{% endif %}
  - ./molecule/default/collections.yml
  - ./.tox
  - ./.cache
  - ./.github
  - ./requirements.yml

skip_list:
  - yaml[truthy]

enable_list:
  - name[prefix]
