---
{{ ansible_managed | comment }}

name: Release to Ansible Galaxy

on:
  push:
    tags:
      - '*'
  schedule:
    - cron: '{{ letter_minute_mapping[role_name[0]] }} {{ letter_hour_mapping[role_name[0]] }} {{ letter_day_mapping[role_name[0]] }} * *'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: galaxy
        uses: robertdebock/galaxy-action@1.1.0
        with:
          galaxy_api_key: {% raw %}${{ secrets.galaxy_api_key }}{% endraw %}
