---
{{ ansible_managed | comment }}
repository:
  description: {{ meta.galaxy_info.description }}
  homepage: {{ author_website }}
  topics: {% for tag in meta.galaxy_info.galaxy_tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}, ansible, molecule, tox, playbook
