{{ ansible_managed | comment }}
[tox]
minversion = 3.21.4
{% if tox_ansible_versions is defined %}
envlist = py{310}-ansible-{% raw %}{{% endraw %}{% for version in tox_ansible_versions %}{{ version }}{% if not loop.last %},{% endif %}{% endfor %}{% raw %}}{% endraw %}
{% else %}
envlist = py{310}-ansible-{5,6,7}
{% endif %}

skipsdist = true

[testenv]
deps =
    5: ansible == 5.*
    6: ansible == 6.*
    7: ansible == 7.*
    molecule[docker]
    docker == 5.*
    ansible-lint == 5.*
commands = molecule test
setenv =
    TOX_ENVNAME={envname}
    PY_COLORS=1
    ANSIBLE_FORCE_COLOR=1
    ANSIBLE_ROLES_PATH=../

passenv = namespace image tag DOCKER_HOST
