{{ ansible_managed | comment }}
[tox]
minversion = 4.2.4
{% if tox_ansible_versions is defined %}
envlist = py{311}-ansible{% raw %}{{% endraw %}{% for version in tox_ansible_versions %}{{ version }}{% if not loop.last %},{% endif %}{% endfor %}{% raw %}}{% endraw %}
{% else %}
envlist = py{311}-ansible{6,7,8}
{% endif %}

skipsdist = true

[testenv]
deps =
    -rrequirements.txt
    ansible6: ansible == 6.*
    ansible7: ansible == 7.*
    ansible8: ansible == 8.*
commands = molecule test
setenv =
    TOX_ENVNAME={envname}
    PY_COLORS=1
    ANSIBLE_FORCE_COLOR=1
    ANSIBLE_ROLES_PATH=../

passenv =
    namespace
    image
    tag
    DOCKER_HOST
{% if github_variables_mapping is defined %}
{% for item in github_variables_mapping %}
    {{ item.variable }}
{% endfor %}
{% endif %}
