---
{{ ansible_managed | comment }}
language: python

python:
  - "3.7"

services:
  - docker

env:
  global:
    namespace="{{ docker_namespace }}"
  matrix:
{% for platform in meta.galaxy_info.platforms %}
{% for version in platform.versions %}
{% for tag in distribution_version_mapping[platform.name][version] %}
    - image="{{ platform_image_mapping[platform.name] }}" tag="{{ tag }}"
{% endfor %}
{% endfor %}
{% endfor %}

cache:
  - pip

install:
  - pip install --upgrade pip
  - pip install tox

script:
{% if tox_parallel is defined and tox_parallel %}
  - tox --parallel all
{% else %}
  - tox
{% endif %}

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
  slack:
    secure: "{{ travis.notifications.slack.secure }}"
  email: false
